<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Startmin - Bootstrap Admin Theme</title>

        <!-- Bootstrap Core CSS -->
        <link href="../../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../../css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../../css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div id="wrapper">

            <aside th:insert="fragments/fragment::sidebar" class="sidebar navbar-default" role="navigation"/>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12" style="display: flex;">
                            <h1 class="page-header" th:text="${teacher.id == null} ? 'Ajouter un professeur' : 'Modier un professeur'"></h1>
                            <div style="padding-top: 50px ; margin-left:60%;  ">
                             <a th:href="@{/teachers}">
                                <i data-feather="arrow-left" width="100" > retour</i>
                             </a>   
                            </div>
                        </div>
                    
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <section id="multiple-column-form">
                        <div class="row match-height">
                            <div class="col-12">
                                <div class="card">
                                
                
                                    <div class="card-content">
                                        <div class="card-body">

                                            <form th:object="${teacher}"th:action="@{/teachers/teacher}"method="post">

                                                <input th:field="*{id}" hidden type="text">

                                                <div class="row">
                                                    <!-- Champ pour le prénom -->
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <label for="prenom">Prénom</label>
                                                            <input th:field="*{prenom}" type="text" id="prenom" class="form-control" placeholder="Prénom" name="prenom">
                                                        </div>
                                                    </div>
                                                    <!-- Champ pour le nom -->
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <label for="nom">Nom</label>
                                                            <input th:field="*{nom}" type="text" id="nom" class="form-control" placeholder="Nom" name="nom">
                                                        </div>
                                                    </div>
                                                    <!-- Boutons pour le choix du genre (Homme ou Femme) -->
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <div class="d-flex align-items-center" style="display: flex;">

                                                                <div class="custom-control custom-radio mr-4">
                                                                    <input th:field="*{genre}" type="radio" id="homme" name="genre" class="custom-control-input" value="Homme">
                                                                    <label class="custom-control-label" for="homme">Homme</label>
                                                                </div>
                                                                <div class="custom-control custom-radio ml-5" style="padding-left: 20px">
                                                                    <input th:field="*{genre}" type="radio" id="femme" name="genre" class="custom-control-input" value="Femme">
                                                                    <label class="custom-control-label" for="femme">Femme</label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                
                                                    <!-- Champ pour la date de naissance -->

                                                    <!-- Champ pour le matricule -->
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <label for="mail">Mail</label>
                                                            <input th:field="*{mail}" type="text" id="mail" class="form-control" placeholder="Mail" name="mail">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <label for="dateCreation">Date Creation</label>
                                                            <input th:field="*{dateNaissance}" type="date" id="dateCreation" class="form-control" name="dateCreation">
                                                        </div>
                                                    </div>
                                                    <!-- Champ pour la sélection de la classe -->
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <div class="d-flex align-items-center" style="display: flex;">

                                                                <div class="custom-control custom-radio mr-4">
                                                                    <input th:field="*{vacant}" type="radio"  name="oui" class="custom-control-input" value="true">
                                                                    <label class="custom-control-label" for="homme">Oui</label>
                                                                </div>
                                                                <div class="custom-control custom-radio ml-5" style="padding-left: 20px">
                                                                    <input th:field="*{vacant}" type="radio"  name="non" class="custom-control-input" value="false">
                                                                    <label class="custom-control-label" for="femme">Non</label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- Champ pour le téléphone -->
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <label for="matiereEnseigne">Matiere Enseigné</label>
                                                            <input type="text" id="matiereEnseigne" class="form-control" placeholder="Matiere Enseigné" name="matiereEnseigne">
                                                        </div>
                                                    </div>
                                                    <!-- Champ pour la ville -->

                                                    <!-- Boutons d'action agrandis, écartés, et centrés -->
                                                    <div class="col-12 d-flex  mt-4" style="padding-left: 30%;">
                                                        <button type="reset" class="btn btn-light-secondary mr-4" style="width: 150px;">Annuler</button>
                                                        <button type="submit" class="btn btn-primary ml-4" style="width: 150px;">Enregistrer</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>

    </body>

</html>